
.GroupPanelEmptyMessage-groupInfo-9{
    font-size: 1.1em !important;
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.MuiTableCell-root{
    border-bottom: 2px solid rgba(224, 224, 224, 1) !important;
}
.Tabletoolbar-toolbar-132{
    border: 2px solid !important;
}
.Tabletoolbar-toolbar-273{
    border: 2px solid !important;
}
.Tabletoolbar-toolbar-97{
    border: 2px solid !important;
}
.TableCell-cell-64{
    border-left: 3px solid gray !important;
}